{% extends "blog/padre.html" %}

{% load static %}


{% block header %}
<header class="masthead" id="fondoMisMensajes">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="mb-5">Mis Mensajes</h1>
                    <span class="subheading">Aqui podras ver todos los mensajes recibidos</span>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    #fondoMisMensajes{
        background-image: url("{% static '/blog/assets/img/fondoMensajeria.jpg' %}");
    }
</style>
{% endblock %}


{% block contenido %}

    <p class="mensaje">{{ mensajee }}</p>

    <a href="{% url 'list' %}" class="btn btn-outline-success">Inicio Mensajeria</a>
    {% if mensajes %}
        <div class="contenedor_mensaje">
        {% for mensaje in mensajes %}
            <p> Emisor: {{ mensaje.emisor }}</p>
            <p> Asunto: {{ mensaje.asunto }}</p>
            <p>Mensaje: {{ mensaje.content }}</p>
            <p>{{ mensaje.creadoFecha}}</p>

            <a href="{% url 'enviar_mensaje' %}" class="btn btn-outline-success">Responder</a>
            <hr>
        {% endfor %}
        </div>

    {% else %}

        <h2 class="noRecibiMensaje">No recibiste ningun mensaje😢</h2>

    {% endif %}

    <style>

        .mensaje{
            text-align: center;
        }

        .noRecibiMensaje{
            text-align: center;
        }
    </style>

{% endblock %}