{% extends "blog/padre.html" %}

{% load static %}

{% block header %}   
    <header class="masthead" id="ini">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="mb-5">BLOG</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <style>
        #ini{
            background-image: url("{% static '/blog/assets/img/elafter.jpg' %}");
        }
    </style>
{% endblock %}  


{% block contenido %}
{% if posteos %}
    
        
<div class="row" style="margin-left:20px;">
    {% for Posteo in posteos %}
    <div class="col-lg-3 mb-3">
        <div class="card border-dark mb-4" style="width: 18rem;">
            {% if Posteo.imagen %}
                <img src="{{ Posteo.imagen.url | safe }}" class="card-img-top" style="max-width:299px; height: 200px;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"> {{ Posteo.titulo }} </h5>
                <h6 class="post-subtitle"> {{ Posteo.descripcion }}</h6>
                <p class="card-text" style="font-size: 10px;"> {{ Posteo.contenido | safe | slice:160 }}...</p>
                <p class="post-meta"> Escrito por <strong>{{ Posteo.autor }}</strong>, el
                {{ Posteo.fecha_creacion }}</p>
                <a href="{% url 'verPublicacion' Posteo.id %}" class="btn btn-primary" style="margin-left: 27%;">Ver mas</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr>
</div>

{% else %}
        <h1>No se crearon Post</h1>
        <h2>Se el primero en compartir tu experiencia</h2>
{% endif %}


{% endblock %}

