{% extends "blog/padre.html" %}
<!-- 
<script type = "text/javascript" src="{% url static 'ckeditor/ckeditor-init.js' %}"></script> 
<script type= "text/javascript" src="{% url static 'ckeditor/ckeditor.js' %}"> </script>
-->

{% load static %}


{% block header %}   
<header class="masthead" id="register">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="mb-5">Crear Posteo...</h1>
                    
                    <span class="subheading">crea un posteo y comentale a los demas tus gustos!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<style >
    #register{
        background-image: url("{% static '/blog/assets/img/acerca-de-foto.jpg' %}");
    }
</style>

{% endblock %}  

{% block contenido %}

<h1>{{ mensaje }}</h1>

<div  class="col-lg-6 mb-5" style="margin-left: auto; margin-right: auto;">
    <div class="card h-100 shadow border-0">
        <div class="card-body p-4">
            
            <h2>-Crear Publicacion-</h2>
            <hr>
            <form action="{% url 'subir_post' %}" method="POST" class="form-regis" method="post"> {% csrf_token %}
                
                
                {{ form.as_table }}
                
                <br>
                <button type="submit" class="form-control btn btn-success" value="enviar">Crear Posteo</button>
                
            </form>

        </div>

    </div>
</div>
{% endblock %}