{% extends "blog/padre.html" %}


{% load static %}


{% block header %}   
    <header class="masthead" id="ini">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="mb-5">FoodReviewers</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <style>
        #ini{
            background-image: url("{% static '/blog/assets/img/inicio.jpg' %}");
        }
    </style>
{% endblock %}  

{% block contenido %}

    <div class="contenedorInicio">

        <h2 class="mensaje">{{ mensaje }}</h2>

        <h2 class="TituloInicio">FoodReviewers es...</h2>
        <p class="textoSobre">Un Sitio donde podes dejar tus opiniones de lugares de comida a los que hayas ido, 
            contandole a los demas miembros de la comunidad tus experiencias, ya sean buenas o malas.
                Tambien vas a poder inspirarte y conocer lugares nuevos para visitar.
        </p>

    </div>

<!--  proband lo de la imagen-->


<div class="contenedor-imagenes">
    <img src="{% static 'blog/assets/img/inicio1.jpg' %}" alt="" >
    <img src="{% static 'blog/assets/img/inicio2.jpg' %}" alt="" >
    <img src="{% static 'blog/assets/img/inicio3.jpg' %}" alt="" >
</div>

<div class="contenedorInicio">

    <h2 class="mensaje">{{ mensaje }}</h2>

    <h2 class="TituloInicio">Como hacer una buena reseña</h2>
    <p class="textoSobre">Para lograr una reseña que aporte valor a la comunidad y sirva d ereferencia a los demas Food Reviewers, 
        Te recomendamos que incluyas los siguientes items:

    </p>
    <ul>
        <li><p>Calidad de la comida</p></li>
        <li><p>Calidad de la atención</p></li>
        <li><p>Que te gustó, que no te gustó</p></li>
        <li><p>Los precios del lugar</p></li>
        <li><p>Como fue tu experiencia, con quien fuiste...etc</p></li>
    </ul>
</div>


{% endblock %}
