{% extends "blog/padre.html" %}

{% load static %}

{% block header %}   
    <header class="masthead" id="ini">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="mb-5">INICIO</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <style>
        #ini{
            background-image: url("{% static '/blog/assets/img/elafter.jpg' %}");
        }
    </style>
{% endblock %}  

{% block contenido %}

<h2>{{ mensaje }}</h2>

<h1>FoodReviewers es...</h1>
<p>Un lugar donde vas a poder dejar tus opiniones de lugares de comida a los que hayas ido, 
    contandole a los demas miembros de la comunidad tus experiencias, ya sean buenas o malas.
        Tambien vas a poder inspirarte y conocer lugares nuevos para visitar.
</p>
{% endblock %}


En el Blog de comida ComerconArte podréis encontrar nuestras últimas experiencias en los restaurantes más populares. Otros temas que también estarán en este blog son platos y recetas sabrosas y saludables. Os ofrecemos la posibilidad de degustar leyendo nuestros post y conocer algunas recetas, trucos y consejos. ComerconArte brinda una visión de la comida distinta, divertida, creativa y llena de sorpresas. Todos nuestras paradas están repletas de sentidos y nuestros posts os proporcionarán los recursos necesarios para poder degustar e imaginar cada plato.

ComerconArte también cuenta con su rinconcito saludable. Un espacio ideal repleto de contenido enfocado a las personas que les gusta comer sano, rico y con mucho sabor. En él te ofreceremos todo tipo de noticias, alimentos, recetas y lugares donde conocer y saborear platos llenos de sabor. Recetas elaboradas con alimentos vegetales o sin lactosa.

 

Vamos a ser una gran comunidad 😉
En ComerconArte todos somos importantes, todos podemos contribuir y contar nuestras experiencias sobre el arte de comer. Si quieres que propongamos algún tema o tienes alguna duda y podemos ayudarte, no lo dudes. Cuéntanos sobre qué quieres leer e intentaremos ofrecerte la información más actual y veraz. Somos la fuente de información perfecta para empezar a disfrutar comiendo.

LA GUÍA DE 2022 PARA RESTAURANTES, RECETAS Y ALIMENTOS, Y LOS MEJORES ELECTRODOMÉSTICOS EN OFERTA
Queremos ser la «Guía perfecta». Un lugar donde detenerse a leer los mejores platos procedentes de los restaurantes más destacados de la zona de Levante, y eventos gastronómicos o relacionados con esta. Además de disponer de un espacio destinado a la comida saludable, en el que hablaremos de alimentos vegetales y saludables, junto con recetas fáciles de elaborar. Todo esto con noticias y temas de actualidad.

LA GUÍA DE LA VINICULTURA
Comer con Arte, ahora también es tu guía de vinos. Los vinos de más éxito del momento estarán presentes, todos ellos dispondrán de un espacio en nuestra sección de vinos y bodegas. Descubre los vinos procedentes de las bodegas con más historia. Bodegas repletas de trabajo, dedicación y mucha pasión. La pasión que lleva a varias generaciones trabajar por un mismo sueño, un sueño compartido por muchos pero que pocos alcanzan. Ver crecer un proyecto, lograr el éxito y estar entre los mejores no es nada fácil.

Un blog para disfrutar la buena gastronomía 😉
Y, sobre todo, porque este es un blog en el que sus usuarios disfrutamos del buen comer, de las experiencias más alucinantes relacionadas con la cocina. Por lo tanto, otro componente esencial en nuestras experiencias es el vino, porque creemos que la buena gastronomía siempre debe ir acompañada de un buen vino para complementar la experienci

Recuerda, somos la web perfecta para guiarte en la cocina y el hogar. Nuestra misión es presentaros nuevos platos y alimentos saludables, descubrir cada rinconcito de la gastronomía española, que son muchos, saborear los mejores vinos de nuestra zona, y también de las bodegas más importantes de España. Conocer cada ventaja e inconveniente de los nuevos electrodomésticos lanzados al mercado y ofreceros una visión sincera, concreta y real de cada aparato. Siempre pensando en la mejor opción en cuanto relación calidad-precio.

