{% extends "blog/padre.html" %}

{% load static %}


{% block header %}
<header class="masthead" id="borde">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="mb-5">Publicacion {{ posteo.titulo }}..</h1>
                    <span class="subheading">Aqui podras ver todos tus posteos publicados</span>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    #borde{
        background-image: url("{% static '/blog/assets/img/acerca-de-foto.jpg' %}");
    }
</style>
{% endblock %}


{% block contenido %}


{% if posteo.imagen %}
            <img src="{{ posteo.imagen.url | safe }}" class="card-img-top" style="max-width:800px; height: 400px;">
{% endif %}
            <h5 class="card-title"> {{ posteo.titulo }} </h5>
            <h6 class="post-subtitle"> {{ posteo.descripcion }}</h6>
            <p class="card-text"> {{ posteo.contenido | safe }}</p>
            <p class="post-meta"> Escrito por <strong><i>   {{ posteo.autor }}</i></strong>, el
            {{ posteo.fecha_creacion }}</p>  
            <a href="#" class="btn btn-primary">Editar Post</a>
            <a href="#" class="btn btn-primary">Eliminar</a>

<style>
    .mensajePrincipal,.mensajeSecundario{
        text-align: center;
    }
</style>


{% endblock %}