{% extends "blog/padre.html" %}

{% load static %}


{% block header %}
<header class="masthead" id="borde">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1 class="mb-5">{{ posteo.titulo }}..</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block contenido %}
    <div class="contenedorPrincipalPublicacion">

        <section class="mb-4">
            <div>
                {% if posteo.imagen %}
                    <img src="{{ posteo.imagen.url | safe }}" class="img-fluid" style="width:400px; height: 200px;margin-left: 34%;">
                {% endif %}
            </div>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
    
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3 class="text-center"> {{ posteo.descripcion }}</h6>
                        <p class=""> {{ posteo.contenido | safe }}</p>
                        <p class=""> <em>Escrito por <strong><i>{{ posteo.autor }}</i></strong>, el
                        {{ posteo.fecha_creacion }}</em></p>
                    </div>  
    
                </div>
            </div>
        </section>

    </div>


    <style>
        .contenedorPrincipalPublicacion{
            background-color: #FFFFFF;
            border-radius: 20px;
            margin-left: 100px;
            margin-right: 100px;
            padding: 20px;
            box-shadow: 0 3px 8px 2px;
        }
    </style>
{% endblock %}